body {
    background-image: url(../images/bicycles.png)
}
hr{
    height: 5px;
    background-color: #ffffff;
    border: none;
}
.jumbotron {
    background-image: url(https://scitechdaily.com/images/Molecules-Integrate-into-Crystal.jpg);
}
#box {
    background-color: white;
}

.jumbotron h1{
    color: white;
    font-family: 'Poppins', sans-serif;
} 
.jumbotron p{
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}

.img-thumbnail{        
    width : 75%;
}
#box hr {
    height: 2px;
    background-color: black;
    border: none;
}

#box h4{
    font-family: 'Bangers', cursive;
}

#reset {
    font-family: 'Bangers', cursive;
}